.responsive-two-cols-per-row {
  @apply grid md:grid-cols-2 lg:grid-cols-2 gap-4 items-center grid-flow-row	sm:grid-cols-1;
}

.responsive-three-cols-per-row {
  @apply grid md:grid-cols-3 lg:grid-cols-3 gap-4 items-center grid-flow-row	sm:grid-cols-1;
}

.responsive-four-cols-per-row {
  @apply grid sm:grid-cols-1 ipad:grid-cols-1 md:grid-cols-4 gap-4 items-center grid-flow-row sm:text-sm;
}


.left-3 {
  left: auto !important;
  right: 2rem;
}

/* .right-2 {
  right: none;
  left: 3rem;
} */

body {
  font-family: "Vazirmatn";
}
